{% extends "base.html" %}


{% block title_block %}Article List{% endblock %}
{% block menu_links %}{% endblock %}

{% block content %}


<div class="m-3">
    {% for article in article_list %}

        <a href="{% url 'article_detail' article.pk %}">
            <h3>
            {{ article.title }}
            </h3>
        </a>

        <a href="{% url 'user_detail' article.autor.pk %}">
        {{ article.autor.name }} {{ article.autor.surname }}
        </a> ({{ article.date }}):
        <p>{{ article.content }}</p>


        <br>
        <br>

    {% endfor %}
</div>



{% endblock %}