{% extends "base.html" %}


{% block title_block %}Article List{% endblock %}
{% block menu_links %}{% endblock %}

{% block header %}Все статьи {% endblock %}


{% block content %}
        <div class="mt-3">
        <form action="{% url 'article_list' %}" method="GET">
            {% csrf_token %}
            {{ form.article_title.label }}: {{ form.article_title }}
            <button type="submit" class="btn btn-primary">Искать</button>
        </form>
        </div>
    {% for article in article_list %}

        <a href="{% url 'article_detail' article.pk %}">
            <h3>
                {{ article.title }}
            </h3>
        </a>

        <a href="{% url 'user_detail' article.autor.pk %}">
            {{ article.autor.name }} {{ article.autor.surname }}
        </a> ({{ article.date }}):
        <p>
            {{ article.content }}
        </p>

    {% endfor %}
{% endblock %}